<p id="notice"><%= notice %></p>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<div class="container">
  <h1>Teams</h1>
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
    <%= link_to 'New Team', new_team_path, class: 'btn btn-success text-white' %>
    <%= link_to 'Go To Division', to_division_path, class: 'btn btn-warning' %>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.id %></td>
          <td><%= team.name %></td>
          <td><%= link_to 'Show', team, class: 'btn btn-info text-white' %></td>
          <td><%= link_to 'Edit', edit_team_path(team), class: 'btn btn-warning text-white' %></td>
          <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Team', new_team_path, class: 'btn btn-success text-white' %>
  <%= link_to 'Go To Division', to_division_path, class: 'btn btn-warning' %>
</div>
