<div class="container">
  <% flash.each do |type, msg| %>
    <div>
      <h3><%= msg %></h3>
    </div>
    <% end %>
    <%= link_to 'Start New Tournament', start_path, class: 'btn btn-success text-white' %>
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
    <%= link_to 'Back', teams_path, class: 'btn btn-info text-white' %>
    </div>
  </div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Division Name</th>
          <th>Team Name</th>
        </tr>
      </thead>

      <tbody>
        <% @divisions.each do |team| %>
          <tr>
            <td><%= team.division_name %></td>
            <td><%= team.team_name %></td>
        <% end %>
      </tbody>
    </table>

</div>
